In [2]:
# Imports necesarios
import numpy as np
import pandas as pd
#import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
#from mpl_toolkits.mplot3d import Axes3D
#from matplotlib import cm
plt.rcParams['figure.figsize'] = (15, 8)
plt.style.use('ggplot')

## Abrir Archivos

In [3]:
#cargamos los datos de entrada
wf1_fin = pd.read_csv("/Users/manuelmoya/Documents/USACH/2019-1er/Tesis/1.Desarrollo/05.AnalisisDatos/Datos/wf1_train_fin.csv",index_col=0,header=0)

In [4]:
wf1_fin.head()

   hors    ws      wd  anno  mes  dia  horsObs    wp1
4     5  2.93  120.13  2009    7    1        0  0.035
5     6  2.96  115.79  2009    7    1        0  0.005
6     7  2.81  106.71  2009    7    1        0  0.000
7     8  2.73   95.39  2009    7    1        0  0.000
8     9  2.87   88.50  2009    7    1        0  0.010

## WP1

In [5]:
wp1t1 = wf1_fin['wp1'].shift(1)
wp1t2 = wf1_fin['wp1'].shift(2)
wp1t3 = wf1_fin['wp1'].shift(3)
wp1t4 = wf1_fin['wp1'].shift(4)
wp1t5 = wf1_fin['wp1'].shift(5)
wp1t6 = wf1_fin['wp1'].shift(6)
wp1t7 = wf1_fin['wp1'].shift(7)
wp1t8 = wf1_fin['wp1'].shift(8)
wp1t9 = wf1_fin['wp1'].shift(9)
wp1t10 = wf1_fin['wp1'].shift(10)
wp1t11 = wf1_fin['wp1'].shift(11)
wp1t12 = wf1_fin['wp1'].shift(12)
wp1t13 = wf1_fin['wp1'].shift(13)
wp1t14 = wf1_fin['wp1'].shift(14)
wp1t15 = wf1_fin['wp1'].shift(15)
wp1t16 = wf1_fin['wp1'].shift(16)
wp1t17 = wf1_fin['wp1'].shift(17)
wp1t18 = wf1_fin['wp1'].shift(18)
wp1t19 = wf1_fin['wp1'].shift(19)
wp1t20 = wf1_fin['wp1'].shift(20)
wp1t21 = wf1_fin['wp1'].shift(21)
wp1t22 = wf1_fin['wp1'].shift(22)
wp1t23 = wf1_fin['wp1'].shift(23)
wp1t24 = wf1_fin['wp1'].shift(24)
wp1t25 = wf1_fin['wp1'].shift(25)
wp1t26 = wf1_fin['wp1'].shift(26)
wp1t27 = wf1_fin['wp1'].shift(27)
wp1t28 = wf1_fin['wp1'].shift(28)
wp1t29 = wf1_fin['wp1'].shift(29)
wp1t30 = wf1_fin['wp1'].shift(30)
wp1t31 = wf1_fin['wp1'].shift(31)
wp1t32 = wf1_fin['wp1'].shift(32)
wp1t33 = wf1_fin['wp1'].shift(33)
wp1t34 = wf1_fin['wp1'].shift(34)
wp1t35 = wf1_fin['wp1'].shift(35)
wp1t36 = wf1_fin['wp1'].shift(36)
wp1t37 = wf1_fin['wp1'].shift(37)
wp1t38 = wf1_fin['wp1'].shift(38)
wp1t39 = wf1_fin['wp1'].shift(39)
wp1t40 = wf1_fin['wp1'].shift(40)
wp1t41 = wf1_fin['wp1'].shift(41)
wp1t42 = wf1_fin['wp1'].shift(42)
wp1t43 = wf1_fin['wp1'].shift(43)
wp1t44 = wf1_fin['wp1'].shift(44)

In [6]:
wf1_fin["wp1t-1"] = wp1t1
wf1_fin["wp1t-2"] = wp1t2
wf1_fin["wp1t-3"] = wp1t3
wf1_fin["wp1t-4"] = wp1t4
wf1_fin["wp1t-5"] = wp1t5
wf1_fin["wp1t-6"] = wp1t6
wf1_fin["wp1t-7"] = wp1t7
wf1_fin["wp1t-8"] = wp1t8
wf1_fin["wp1t-9"] = wp1t9
wf1_fin["wp1t-10"] = wp1t10
wf1_fin["wp1t-11"] = wp1t11
wf1_fin["wp1t-12"] = wp1t12
wf1_fin["wp1t-13"] = wp1t13
wf1_fin["wp1t-14"] = wp1t14
wf1_fin["wp1t-15"] = wp1t15
wf1_fin["wp1t-16"] = wp1t16
wf1_fin["wp1t-17"] = wp1t17
wf1_fin["wp1t-18"] = wp1t18
wf1_fin["wp1t-19"] = wp1t19
wf1_fin["wp1t-20"] = wp1t20
wf1_fin["wp1t-21"] = wp1t21
wf1_fin["wp1t-22"] = wp1t22
wf1_fin["wp1t-23"] = wp1t23
wf1_fin["wp1t-24"] = wp1t24
wf1_fin["wp1t-25"] = wp1t25
wf1_fin["wp1t-26"] = wp1t26
wf1_fin["wp1t-27"] = wp1t27
wf1_fin["wp1t-28"] = wp1t28
wf1_fin["wp1t-29"] = wp1t29
wf1_fin["wp1t-30"] = wp1t30
wf1_fin["wp1t-31"] = wp1t31
wf1_fin["wp1t-32"] = wp1t32
wf1_fin["wp1t-33"] = wp1t33
wf1_fin["wp1t-34"] = wp1t34
wf1_fin["wp1t-35"] = wp1t35
wf1_fin["wp1t-36"] = wp1t36
wf1_fin["wp1t-37"] = wp1t37
wf1_fin["wp1t-38"] = wp1t38
wf1_fin["wp1t-39"] = wp1t39
wf1_fin["wp1t-40"] = wp1t40
wf1_fin["wp1t-41"] = wp1t41
wf1_fin["wp1t-42"] = wp1t42
wf1_fin["wp1t-43"] = wp1t43
wf1_fin["wp1t-44"] = wp1t44

In [7]:
wf1_fin

,hors,ws,wd,anno,mes,dia,horsObs,wp1,wp1t-1,wp1t-2,...,wp1t-35,wp1t-36,wp1t-37,wp1t-38,wp1t-39,wp1t-40,wp1t-41,wp1t-42,wp1t-43,wp1t-44
4,5,2.93,120.13,2009,7,1,0,0.035,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,2.96,115.79,2009,7,1,0,0.005,0.035,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,2.81,106.71,2009,7,1,0,0.000,0.005,0.035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,2.73,95.39,2009,7,1,0,0.000,0.000,0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,2.87,88.50,2009,7,1,0,0.010,0.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104779,44,5.66,121.95,2012,6,26,0,0.348,0.358,0.369,...,0.211,0.170,0.190,0.221,0.286,0.556,0.529,0.501,0.474,0.446
104780,45,5.20,120.47,2012,6,26,0,0.338,0.348,0.358,...,0.251,0.211,0.170,0.190,0.221,0.286,0.556,0.529,0.501,0.474
104781,46,4.24,120.96,2012,6,26,0,0.327,0.338,0.348,...,0.301,0.251,0.211,0.170,0.190,0.221,0.286,0.556,0.529,0.501
104782,47,3.13,122.81,2012,6,26,0,0.317,0.327,0.338,...,0.226,0.301,0.251,0.211,0.170,0.190,0.221,0.286,0.556,0.529
104783,48,2.31,123.00,2012,6,26,0,0.306,0.317,0.327,...,0.254,0.226,0.301,0.251,0.211,0.170,0.190,0.221,0.286,0.556

In [8]:
wf1_fin['wp1t-1'].fillna((wf1_fin['wp1t-1'].mean()), inplace=True)
wf1_fin['wp1t-2'].fillna((wf1_fin['wp1t-2'].mean()), inplace=True)
wf1_fin['wp1t-3'].fillna((wf1_fin['wp1t-3'].mean()), inplace=True)
wf1_fin['wp1t-4'].fillna((wf1_fin['wp1t-4'].mean()), inplace=True)
wf1_fin['wp1t-5'].fillna((wf1_fin['wp1t-5'].mean()), inplace=True)
wf1_fin['wp1t-6'].fillna((wf1_fin['wp1t-6'].mean()), inplace=True)
wf1_fin['wp1t-7'].fillna((wf1_fin['wp1t-7'].mean()), inplace=True)
wf1_fin['wp1t-8'].fillna((wf1_fin['wp1t-8'].mean()), inplace=True)
wf1_fin['wp1t-9'].fillna((wf1_fin['wp1t-9'].mean()), inplace=True)
wf1_fin['wp1t-10'].fillna((wf1_fin['wp1t-10'].mean()), inplace=True)
wf1_fin['wp1t-11'].fillna((wf1_fin['wp1t-11'].mean()), inplace=True)
wf1_fin['wp1t-12'].fillna((wf1_fin['wp1t-12'].mean()), inplace=True)
wf1_fin['wp1t-13'].fillna((wf1_fin['wp1t-13'].mean()), inplace=True)
wf1_fin['wp1t-14'].fillna((wf1_fin['wp1t-14'].mean()), inplace=True)
wf1_fin['wp1t-15'].fillna((wf1_fin['wp1t-15'].mean()), inplace=True)
wf1_fin['wp1t-16'].fillna((wf1_fin['wp1t-16'].mean()), inplace=True)
wf1_fin['wp1t-17'].fillna((wf1_fin['wp1t-17'].mean()), inplace=True)
wf1_fin['wp1t-18'].fillna((wf1_fin['wp1t-18'].mean()), inplace=True)
wf1_fin['wp1t-19'].fillna((wf1_fin['wp1t-19'].mean()), inplace=True)
wf1_fin['wp1t-20'].fillna((wf1_fin['wp1t-20'].mean()), inplace=True)
wf1_fin['wp1t-21'].fillna((wf1_fin['wp1t-21'].mean()), inplace=True)
wf1_fin['wp1t-22'].fillna((wf1_fin['wp1t-22'].mean()), inplace=True)
wf1_fin['wp1t-23'].fillna((wf1_fin['wp1t-23'].mean()), inplace=True)
wf1_fin['wp1t-24'].fillna((wf1_fin['wp1t-24'].mean()), inplace=True)
wf1_fin['wp1t-25'].fillna((wf1_fin['wp1t-25'].mean()), inplace=True)
wf1_fin['wp1t-26'].fillna((wf1_fin['wp1t-26'].mean()), inplace=True)
wf1_fin['wp1t-27'].fillna((wf1_fin['wp1t-27'].mean()), inplace=True)
wf1_fin['wp1t-28'].fillna((wf1_fin['wp1t-28'].mean()), inplace=True)
wf1_fin['wp1t-29'].fillna((wf1_fin['wp1t-29'].mean()), inplace=True)
wf1_fin['wp1t-30'].fillna((wf1_fin['wp1t-30'].mean()), inplace=True)
wf1_fin['wp1t-31'].fillna((wf1_fin['wp1t-31'].mean()), inplace=True)
wf1_fin['wp1t-32'].fillna((wf1_fin['wp1t-32'].mean()), inplace=True)
wf1_fin['wp1t-33'].fillna((wf1_fin['wp1t-33'].mean()), inplace=True)
wf1_fin['wp1t-34'].fillna((wf1_fin['wp1t-34'].mean()), inplace=True)
wf1_fin['wp1t-35'].fillna((wf1_fin['wp1t-35'].mean()), inplace=True)
wf1_fin['wp1t-36'].fillna((wf1_fin['wp1t-36'].mean()), inplace=True)
wf1_fin['wp1t-37'].fillna((wf1_fin['wp1t-37'].mean()), inplace=True)
wf1_fin['wp1t-38'].fillna((wf1_fin['wp1t-38'].mean()), inplace=True)
wf1_fin['wp1t-39'].fillna((wf1_fin['wp1t-39'].mean()), inplace=True)
wf1_fin['wp1t-40'].fillna((wf1_fin['wp1t-40'].mean()), inplace=True)
wf1_fin['wp1t-41'].fillna((wf1_fin['wp1t-41'].mean()), inplace=True)
wf1_fin['wp1t-42'].fillna((wf1_fin['wp1t-42'].mean()), inplace=True)
wf1_fin['wp1t-43'].fillna((wf1_fin['wp1t-43'].mean()), inplace=True)

In [9]:
#wf1_fin['wst-6'].fillna((wf1_fin['wst-6'].mean()), inplace=True)
#wf1_fin['wst-12'].fillna((wf1_fin['wst-12'].mean()), inplace=True)
#wf1_fin['wst-24'].fillna((wf1_fin['wst-24'].mean()), inplace=True)
#wf1_fin['wst-36'].fillna((wf1_fin['wst-36'].mean()), inplace=True)
#wf1_fin['wst-48'].fillna((wf1_fin['wst-48'].mean()), inplace=True)

In [10]:
wf1_fin

,hors,ws,wd,anno,mes,dia,horsObs,wp1,wp1t-1,wp1t-2,...,wp1t-35,wp1t-36,wp1t-37,wp1t-38,wp1t-39,wp1t-40,wp1t-41,wp1t-42,wp1t-43,wp1t-44
4,5,2.93,120.13,2009,7,1,0,0.035,0.249155,0.249153,...,0.249025,0.249025,0.249025,0.249024,0.249024,0.249025,0.249027,0.249028,0.249029,NaN
5,6,2.96,115.79,2009,7,1,0,0.005,0.035000,0.249153,...,0.249025,0.249025,0.249025,0.249024,0.249024,0.249025,0.249027,0.249028,0.249029,NaN
6,7,2.81,106.71,2009,7,1,0,0.000,0.005000,0.035000,...,0.249025,0.249025,0.249025,0.249024,0.249024,0.249025,0.249027,0.249028,0.249029,NaN
7,8,2.73,95.39,2009,7,1,0,0.000,0.000000,0.005000,...,0.249025,0.249025,0.249025,0.249024,0.249024,0.249025,0.249027,0.249028,0.249029,NaN
8,9,2.87,88.50,2009,7,1,0,0.010,0.000000,0.000000,...,0.249025,0.249025,0.249025,0.249024,0.249024,0.249025,0.249027,0.249028,0.249029,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104779,44,5.66,121.95,2012,6,26,0,0.348,0.358000,0.369000,...,0.211000,0.170000,0.190000,0.221000,0.286000,0.556000,0.529000,0.501000,0.474000,0.446
104780,45,5.20,120.47,2012,6,26,0,0.338,0.348000,0.358000,...,0.251000,0.211000,0.170000,0.190000,0.221000,0.286000,0.556000,0.529000,0.501000,0.474
104781,46,4.24,120.96,2012,6,26,0,0.327,0.338000,0.348000,...,0.301000,0.251000,0.211000,0.170000,0.190000,0.221000,0.286000,0.556000,0.529000,0.501
104782,47,3.13,122.81,2012,6,26,0,0.317,0.327000,0.338000,...,0.226000,0.301000,0.251000,0.211000,0.170000,0.190000,0.221000,0.286000,0.556000,0.529
104783,48,2.31,123.00,2012,6,26,0,0.306,0.317000,0.327000,...,0.254000,0.226000,0.301000,0.251000,0.211000,0.170000,0.190000,0.221000,0.286000,0.556

In [11]:
output = wf1_fin.dropna()

In [12]:
output

,hors,ws,wd,anno,mes,dia,horsObs,wp1,wp1t-1,wp1t-2,...,wp1t-35,wp1t-36,wp1t-37,wp1t-38,wp1t-39,wp1t-40,wp1t-41,wp1t-42,wp1t-43,wp1t-44
100,5,0.81,223.94,2009,7,2,0,0.000,0.000,0.080,...,0.010,0.000,0.010,0.030,0.025,0.010,0.000,0.000,0.005,0.035
101,6,0.68,246.61,2009,7,2,0,0.000,0.000,0.000,...,0.000,0.010,0.000,0.010,0.030,0.025,0.010,0.000,0.000,0.005
102,7,0.49,231.76,2009,7,2,0,0.000,0.000,0.000,...,0.000,0.000,0.010,0.000,0.010,0.030,0.025,0.010,0.000,0.000
103,8,0.57,184.50,2009,7,2,0,0.000,0.000,0.000,...,0.000,0.000,0.000,0.010,0.000,0.010,0.030,0.025,0.010,0.000
104,9,0.88,172.70,2009,7,2,0,0.015,0.000,0.000,...,0.005,0.000,0.000,0.000,0.010,0.000,0.010,0.030,0.025,0.010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104779,44,5.66,121.95,2012,6,26,0,0.348,0.358,0.369,...,0.211,0.170,0.190,0.221,0.286,0.556,0.529,0.501,0.474,0.446
104780,45,5.20,120.47,2012,6,26,0,0.338,0.348,0.358,...,0.251,0.211,0.170,0.190,0.221,0.286,0.556,0.529,0.501,0.474
104781,46,4.24,120.96,2012,6,26,0,0.327,0.338,0.348,...,0.301,0.251,0.211,0.170,0.190,0.221,0.286,0.556,0.529,0.501
104782,47,3.13,122.81,2012,6,26,0,0.317,0.327,0.338,...,0.226,0.301,0.251,0.211,0.170,0.190,0.221,0.286,0.556,0.529
104783,48,2.31,123.00,2012,6,26,0,0.306,0.317,0.327,...,0.254,0.226,0.301,0.251,0.211,0.170,0.190,0.221,0.286,0.556

In [13]:
#output.drop(['hors','wd','anno','mes','dia','horsObs'], axis=1, inplace=True)
#output

In [14]:
output = output.reindex(columns=['ws','wp1t-44','wp1t-43','wp1t-42','wp1t-41','wp1t-40','wp1t-39','wp1t-38',
                                 'wp1t-37','wp1t-36','wp1t-35','wp1t-34','wp1t-33','wp1t-32','wp1t-30','wp1t-29',
                                 'wp1t-28','wp1t-27','wp1t-26','wp1t-25','wp1t-24','wp1t-23','wp1t-22','wp1t-21',
                                 'wp1t-20','wp1t-19','wp1t-18','wp1t-17','wp1t-16','wp1t-15','wp1t-14','wp1t-13',
                                 'wp1t-12','wp1t-11','wp1t-10','wp1t-9','wp1t-8','wp1t-7','wp1t-6','wp1t-5',
                                 'wp1t-4', 'wp1t-3', 'wp1t-2', 'wp1t-1','wp1'])

In [15]:
output

,ws,wp1t-44,wp1t-43,wp1t-42,wp1t-41,wp1t-40,wp1t-39,wp1t-38,wp1t-37,wp1t-36,...,wp1t-9,wp1t-8,wp1t-7,wp1t-6,wp1t-5,wp1t-4,wp1t-3,wp1t-2,wp1t-1,wp1
100,0.81,0.035,0.005,0.000,0.000,0.010,0.025,0.030,0.010,0.000,...,0.010,0.010,0.010,0.010,0.010,0.080,0.025,0.080,0.000,0.000
101,0.68,0.005,0.000,0.000,0.010,0.025,0.030,0.010,0.000,0.010,...,0.010,0.010,0.010,0.010,0.080,0.025,0.080,0.000,0.000,0.000
102,0.49,0.000,0.000,0.010,0.025,0.030,0.010,0.000,0.010,0.000,...,0.010,0.010,0.010,0.080,0.025,0.080,0.000,0.000,0.000,0.000
103,0.57,0.000,0.010,0.025,0.030,0.010,0.000,0.010,0.000,0.000,...,0.010,0.010,0.080,0.025,0.080,0.000,0.000,0.000,0.000,0.000
104,0.88,0.010,0.025,0.030,0.010,0.000,0.010,0.000,0.000,0.000,...,0.010,0.080,0.025,0.080,0.000,0.000,0.000,0.000,0.000,0.015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104779,5.66,0.446,0.474,0.501,0.529,0.556,0.286,0.221,0.190,0.170,...,0.442,0.431,0.421,0.410,0.400,0.390,0.379,0.369,0.358,0.348
104780,5.20,0.474,0.501,0.529,0.556,0.286,0.221,0.190,0.170,0.211,...,0.431,0.421,0.410,0.400,0.390,0.379,0.369,0.358,0.348,0.338
104781,4.24,0.501,0.529,0.556,0.286,0.221,0.190,0.170,0.211,0.251,...,0.421,0.410,0.400,0.390,0.379,0.369,0.358,0.348,0.338,0.327
104782,3.13,0.529,0.556,0.286,0.221,0.190,0.170,0.211,0.251,0.301,...,0.410,0.400,0.390,0.379,0.369,0.358,0.348,0.338,0.327,0.317
104783,2.31,0.556,0.286,0.221,0.190,0.170,0.211,0.251,0.301,0.226,...,0.400,0.390,0.379,0.369,0.358,0.348,0.338,0.327,0.317,0.306

## Grabar datos finales

In [16]:

output.to_csv('/Users/manuelmoya/Documents/USACH/2019-1er/Tesis/1.Desarrollo/05.AnalisisDatos/Datos/wf1_train_fin_serie.csv')